<div class="container">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <div class="jumbotron">
        <form (ngSubmit)="login(loginFormData)" #loginFormData='ngForm'>
          <div class="form-group">
            <label>E-mail</label>
            <input ngModel type="email" class="form-control" name="email" placeholder="Enter email" required>
          </div>
          <div class="form-group">
            <label>Hasło</label>
            <input ngModel type="password" class="form-control" name="password" placeholder="Password" required>
          </div>
          <div class="alert alert-warning" *ngIf="errorMessage">
            <strong>Warning!</strong> {{errorMessage}}.
          </div>
          <button type="submit" class="btn btn-primary mr-2" [disabled]="loginFormData.invalid">Zaloguj</button>
        </form>
      </div>
    </div>
  </div>
</div>
