<div class="container">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <div class="jumbotron">
        <form [formGroup]="regForm" (ngSubmit)="register(regFormData)" #regFormData='ngForm'>
          <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" formControlName="name" placeholder="Enter your name" required>
            <div class="alert alert-warning" *ngIf="regForm.get('name').invalid && regForm.get('name').dirty">Field cannot be empty</div>
            <div class="alert alert-warning" *ngIf="regForm.get('name').errors && regForm.get('name').errors.minlength">User name must be more then 3 chars</div>
          </div>

          <div class="form-group">
            <label>E-mail</label>
            <input type="email" class="form-control" formControlName="email" placeholder="Enter email" required>
            <div class="alert alert-warning" *ngIf="regForm.get('email').invalid && regForm.get('email').dirty">Field cannot be empty</div>
            <div class="alert alert-warning" *ngIf="regForm.get('email').errors && regForm.get('email').errors.email">Wrong email (eg: name@domain.pl)</div>
          </div>
          <div class="form-group">
            <label>Hasło</label>
            <input type="password" class="form-control" formControlName="password" placeholder="Password" required>
            <div class="alert alert-warning" *ngIf="regForm.get('password').errors && regForm.get('password').errors.minlength">Password must contain minimum 6 char</div>
          </div>
          <button type="submit" class="btn btn-primary mr-2" [disabled]="regFormData.invalid">Rejestracja</button>
        </form>
      </div>
    </div>
  </div>
</div>
