<div class="container">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <div class="jumbotron">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
          </div>
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="inputGroupFile01" (change)="upload($event)">
            <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
          </div>

          <mat-progress-bar mode="determinate" [value]="progresValue" *ngIf="progresValue > 0"></mat-progress-bar>
        </div>

        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center"
            *ngFor="let item of checkData; let i = index" >
            <ng-container *ngIf="hideElem">
                <span class="badge badge-secondary">{{item.file_size | fileSize}}</span>
                <div>{{item.file_name}}</div>
                <div class="btn-group" role="group">
                  <button type="button" class="btn btn-light" (click)="editItem()"><i class="fa fa-edit"></i></button>
                  <button type="button" class="btn btn-light" (click)="downloadItem(item.file_id)"><i
                      class="fa fa-eye"></i></button>
                  <button type="button" class="btn btn-light" (click)="deleteItem(item.file_id)"><i
                      class="fa fa-trash"></i></button>
                </div>
            </ng-container>
            <div [hidden]="hideElem">
              <div class="btn-group" role="group">
                <input type="text" value="{{item.file_name}}" id="id_{{item.file_id}}"/>
                <button type="button" class="btn btn-light" (click)="editSelectedItem(item.file_id, 'id_'+ item.file_id)">
                  <i class="fa fa-check"></i></button>
                <button type="button" class="btn btn-light" (click)="cancelAction()">
                  <i class="fa fa-close"></i></button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
