<div class="d-none d-md-block mb-1">
    <ul class="nav nav-pills justify-content-center">
        <li class="nav-item" >
          <a class="nav-link" routerLink='/login' routerLinkActive="active" *ngIf="!authService.user"> Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink='/register' routerLinkActive="active"> Register</a>
        </li>
        <li class="nav-item" *ngIf="authService.user">
            <a class="nav-link"  routerLink='/file-upload' routerLinkActive="active"> File-upload</a>
        </li>
        <li class="nav-item" *ngIf="authService.user">
            <a class="nav-link"  (click)='logout()'> Logout</a>
        </li>
        <li class="nav-item" *ngIf="authService.user">
            <span class="nav-link" >{{authService.user.email}}</span>
        </li>
      </ul>
</div>

<router-outlet></router-outlet>
